<div style="margin-top: 60px">
</div>
<div class="row">
    <div class="panel ">
        <div class="col-xs-offset-1 ">
            <div class="col-md-8">
                <div style="margin-top: 80px" class="section-details2 text-center container-fluid">
                    Error
                </div>
            </div>


        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-xs-offset-1 ">
        <div class="col-md-6">
            <div class="panel-group block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title ">Your request couldn't be processed, please restart your browser and try again.
                        </h6>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

