@{
    ViewBag.Title = "Privacy";
}
<style>
    .section-details {
        height: 80px;
    }

    .section-details2 {
        font-size: 38px;
    }


    @@media (max-width: 1024px) {
        .section-details {
            height: 40px;
        }

        .section-details2 {
            font-size: 28px;
        }
    }

    @@media (max-width: 600px) {
        .section-details {
            display: none;
        }

        .section-details2 {
            font-size: 14px;
        }
    }
</style>

<div style="margin-top: 60px">
</div>
<div class="row">
     <div class="col-xs-offset-1 ">
        <div class="col-md-6">
            <div class="panel-group block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#question1" class="collapsed">1. What information do you collect?</a>
                        </h6>
                    </div>
                    <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            We get your public information from your profile on Google+. Mostly this is used to provide you with a better experience while using our website or when cards are posted on Google Glass - things like having your name and your profile photo. We also get your email address, even if it isn't public, so we can contact you directly if necessary - we won't be using the email address for advertising or for broad public announcements.

                            We may also collect some web tracking information, which we use to see how many people are using the site and how we can improve usage.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#question2" class="collapsed">2. How do you collect the information?</a>
                        </h6>
                    </div>
                    <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            Your personal information and email come from Google+ or Google accounts every time you log in.

                            We receive text, photos, or video from Google Glass only when you explicitly share it with us. Your location is shared with us roughly every 10 minutes.

                            Web tracking information is done using a service such as Google Analytics, which may use several different methods, but mostly relies on cookies.
    
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#question3" class="collapsed">3. How do you use the information?</a>
                        </h6>
                    </div>
                    <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            Your personal information, including your name and profile photo, are used to provide you with good experience, make it better to use Vodo or Google Glass, or for truly exceptional services. 

                            Information about your physical location is used to determine the local time when you issue a command to Vodo and when to send you a reminder. This data may be stored to assist with debugging and making sure Vodo works as expected, but it is not generally associated with your account.

                            Web tracking information is used in aggregate, and intended to help us make sure the website is used and how it can be used more effectively.
    
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#question4" class="collapsed">4. What control do I have over my personal data?</a>
                        </h6>
                    </div>
                    <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            For the data that is public from your Google+ profile, you may make it private or change it, and on your next login to Vodo we will remove old data from our system.

                            At any time, you may de-authorize Vodo to have access to your Google account. If you do so, we will no longer be able to access any information from Google Glass.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#question5" class="collapsed">5. How do you protect my information?</a>
                        </h6>
                    </div>
                    <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            As much as possible, we try to protect your information by not actually storing it ourselves. Where necessary, your information is stored in a database with limited access.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title panel-trigger">
                            <a data-toggle="collapse" href="#question6" class="collapsed">6. How will you update these terms of service?</a>
                        </h6>
                    </div>
                    <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            If we need to update the terms of service, we will send you email with further information.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

